@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');


* {
	box-sizing: border-box;
	margin: 0;
	text-decoration: none;
	scroll-behavior: smooth;

}

body {
	min-width: 1140px;
}


.wrap1 {
	margin: auto;
	width: 1040px;
}


.for_bg1 {
	background-color: white;
	height: 120px;

}


.logo_text {
	display: flex;
	justify-content: space-between;
	width: 180px;
}

.homelogo {
	background-image: url(images/Vector.svg);
	height: 22px;
	width: 26px;
	margin: auto;
}

.textlogo {
	margin: auto;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #323232;
	margin-top: 23px;

}


.domrf_bank {
	background-image: url(images/domrfbank.svg);
	height: 59px;
	width: 130px;
	background-size: 100% 100%;
}


.domrf {
	background-image: url(images/domrf.svg);
	height: 54px;
	width: 130px;
	background-size: 100% 100%;
	margin: auto;
	margin-top: 4px;
}


.info_nav_block {
	display: flex;
	justify-content: space-between;
	width: 285px;


}


nav {
	display: flex;
	justify-content: space-between;
	margin-top: 17px;
}


.mapicon {
	background-image: url(images/mapicon.svg);
	height: 29px;
	width: 29px;
}



.address {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 15px;
	color: #000000;
	width: 210px;
}


.address_icon {
	display: flex;
	justify-content: space-between;
	width: 249px;
	margin: auto;
}


.phone_number {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 12px;
	color: #000000;
	
}



.phone_icon {
	background-image: url(images/callicon.svg);
	height: 16px;
	width: 16px;
}


.phone {
	display: flex;
	justify-content: space-between;
	width: 115px;
}


.email_address {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 12px;
	color: #000000;
}


.email_icon {
	background-image: url(images/emailicon.svg);
	height: 16px;
	width: 16px;

}


.email {
	display: flex;
	justify-content: space-between;
	width: 135px;
}


.phone_email {
	width: 135px;
	margin: auto;
}
/*

/*WRAP2*/



.for_bg2 {
	margin-top: 31px;
	background-color: #FAFAFA;
	height: 716px;
}


.wrap2 {
	margin: auto;
	width: 1200px;
}


.wr2_main_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 44px;
	padding-top: 25px;
	color: #474747;
}




.block1, .block2, .block3, .block4 {
	background-color: #F8F8F8;
	width: 584px;
	height: 247px;
	display: flex;
	padding-top: 40px;
	/*justify-content: space-between;*/
}


.num_icon1, .num_icon2, .num_icon3, .num_icon4 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	color: #6DCBFF;
	margin-left: 48px;
}



.text_block1, .text_block2, .text_block3, .text_block4 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 33px;
	width: 413px;
	color: #000000;
	margin-left: 48px;
}



.wr2_wife_1_block, .wr2_wife_2_block {
	display: flex;
	justify-content: space-between;
}

.wr2_wife_2_block {
	margin-top: 35px;
}



.wr2_husband_block {
	margin-top: 50px;
}



/*WRAP3*/


.for_bg3 {
	height: 1026px;
	background-color: #FFFFFF;
}


.wrap3 {
	margin: auto;
	width: 1130px;
}


.wr3_main_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 133.4%;
	/* or 32px */
	width: 806px;
	margin: auto;
	text-align: center;
	margin-top: 51px;
	color: #474747;

}


.blue_block_icon {
	background-image: url(images/requirements/blue_block_icon.png);
	height: 74px;
	width: 74px;
	margin-top: 21px;

}


.blue_block_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 133.4%;
	/* or 27px */
	margin-top: 47px;
	text-align: center;
	margin-left: 16px;
	color: #FFFFFF;
}


.wr3_blue_block_1 {
	width: 1128px;
	height: 122px;
	background: #93B4E6;
	border-radius: 100px;
	display: flex;
	padding-left: 54px;
	margin-top: 49px;
}



.blue_block_icon_2 {
	background-image: url(images/requirements/blue_block_icon_2.png);
	height: 88px;
	width: 67px;
	margin-top: 21px;
	margin-left: 11px;

}


.blue_block_text_2 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 133.4%;
	/* or 27px */
	margin-top: 36px;
	text-align: center;
	margin-left: 16px;
	width: 833px;
	color: #FFFFFF;
}


.wr3_blue_block_2 {
	width: 1128px;
	height: 122px;
	background: #93B4E6;
	border-radius: 100px;
	display: flex;
	padding-left: 54px;
	margin-top: 28px;
}



.blue_block_icon_3 {
	background-image: url(images/requirements/blue_block_icon_3.png);
	height: 69px;
	width: 74px;
	margin-top: 21px;
	margin-left: 11px;

}


.blue_block_text_3 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 133.4%;
	/* or 27px */
	margin-top: 33px;
	/*text-align: center;*/
	margin-left: 16px;
	width: 833px;
	color: #FFFFFF;
}


.wr3_blue_block_3 {
	width: 1128px;
	height: 122px;
	background: #93B4E6;
	border-radius: 100px;
	display: flex;
	padding-left: 54px;
	margin-top: 28px;
}



.blue_block_icon_4 {
	background-image: url(images/requirements/blue_block_icon_4.png);
	height: 85px;
	width: 76px;
	margin-top: 17px;
	margin-left: 11px;

}


.blue_block_text_4 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 133.4%;
	/* or 27px */
	margin-top: 45px;
	/*text-align: center;*/
	margin-left: 16px;
	width: 833px;
	color: #FFFFFF;
}


.wr3_blue_block_4{
	width: 1128px;
	height: 122px;
	background: #93B4E6;
	border-radius: 100px;
	display: flex;
	padding-left: 54px;
	margin-top: 28px;
}




.blue_block_icon_5 {
	background-image: url(images/requirements/blue_block_icon_5.png);
	height: 87px;
	width: 74px;
	margin-top: 17px;
	margin-left: 11px;

}


.blue_block_text_5 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 133.4%;
	/* or 27px */
	margin-top: 45px;
	/*text-align: center;*/
	margin-left: 16px;
	width: 833px;
	color: #FFFFFF;
}


.wr3_blue_block_5{
	width: 1128px;
	height: 122px;
	background: #93B4E6;
	border-radius: 100px;
	display: flex;
	padding-left: 54px;
	margin-top: 28px;
}



.gray_block_text_6 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 133.4%;
/* or 27px */
	text-align: center;
	width: 980px;
	color: #474747;
	margin: auto;
	
}


.wr3_gray_block_6{
	width: 1128px;
	height: 122px;
	background: #F8F8F8;
	border-radius: 100px;
	display: flex;
	/*padding-left: 54px;*/
	margin-top: 28px;

}




.for_bg4 {
	height: 227px;
}


.wrap4 {
	margin: auto;
	width: 990px;
	display: flex;
	justify-content: space-between;
	padding-top: 50px;

}


.footer_address_icon {
	background-image: url(images/mapicon.svg);
	height: 29px;
	width: 29px;
}

.footer_text_address {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 15px;
	color: #000000;
	width: 210px;
}

.footer_address_text {
	display: flex;
	justify-content: space-between;
	width: 249px;
}




.footer_number_icon {
	background-image: url(images/calliconfooter.svg);
	height: 29px;
	width: 29px;
}

.footer_number {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 12px;
	color: #000000;
	margin: auto;
}

.footer_number_text {
	display: flex;
	justify-content: space-between;
	width: 140px;
}






.footer_email_icon {
	background-image: url(images/emailiconfooter.svg);
	height: 29px;
	width: 29px;
}

.footer_email {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 12px;
	color: #000000;
	margin: auto;
}

.footer_email_text {
	display: flex;
	justify-content: space-between;
	width: 175px;
}



.footer_number_text, .footer_email_text {
	margin-top: 15px;
}



.domrf_footer {
	background-image: url(images/domrf.svg);
    height: 54px;
    width: 130px;
    background-size: 100% 100%;
    margin: auto;
    margin-top: 13px;
}

.greenhome_footer {
	background-image: url(images/greenhomefooter.svg);
    height: 85px;
    width: 165px;
}

.footer_domrf_greenhome {
	display: flex;
	justify-content: space-between;
	width: 270px;
	margin: auto;
}



.ourhome_footer {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 12px;
	color: #000000;
	width: 270px;
	margin-left: 100px;
}





.right_text {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: #262626;
	margin-left: 23px;

}



.left_footer_block {
	border: solid #B5B5B5 1px;
	width: 309px;
	border-top: none;
	border-left: none;
	border-bottom: none;
}

.middle_footer_block {
	border: solid #B5B5B5 1px;
	width: 400px;
	border-top: none;
	border-left: none;
	border-bottom: none;
	padding-top: 5px;
}


.right_footer_block {
	border: solid #B5B5B5 1px;
	width: 290px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
}