@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');


* {
	box-sizing: border-box;
	margin: 0;
	text-decoration: none;
	scroll-behavior: smooth;

}

a {
	text-decoration: none;
	color: white;
}

body {
	min-width: 1140px;
}


.wrap1 {
	margin: auto;
	width: 1040px;
}


.for_bg1 {
	background-color: white;
	height: 90px;

}


.logo_text {
	display: flex;
	justify-content: space-between;
	width: 180px;
}

.homelogo {
	background-image: url(images/Vector.svg);
	height: 22px;
	width: 26px;
	margin: auto;
}

.textlogo {
	margin: auto;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #323232;
	margin-top: 23px;

}

.textlogo > a {
	color: #323232;
}

.domrf_bank {
	background-image: url(images/domrfbank.svg);
	height: 59px;
	width: 130px;
	background-size: 100% 100%;
}


.domrf {
	background-image: url(images/domrf.svg);
	height: 54px;
	width: 130px;
	background-size: 100% 100%;
	margin: auto;
	margin-top: 4px;
}


.info_nav_block {
	display: flex;
	justify-content: space-between;
	width: 285px;


}


nav {
	display: flex;
	justify-content: space-between;
	margin-top: 17px;
}


.mapicon {
	background-image: url(images/mapicon.svg);
	height: 29px;
	width: 29px;
}



.address {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 15px;
	color: #000000;
	width: 210px;
}


.address_icon {
	display: flex;
	justify-content: space-between;
	width: 249px;
	margin: auto;
}


.phone_number {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 12px;
	color: #000000;
	
}



.phone_icon {
	background-image: url(images/callicon.svg);
	height: 16px;
	width: 16px;
}


.phone {
	display: flex;
	justify-content: space-between;
	width: 115px;
}


.email_address {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 12px;
	color: #000000;
}


.email_icon {
	background-image: url(images/emailicon.svg);
	height: 16px;
	width: 16px;

}


.email {
	display: flex;
	justify-content: space-between;
	width: 135px;
}


.phone_email {
	width: 135px;
	margin: auto;
}


/*NAVIGATOR*/


.navigator {
	height: 31px;
	background-color: #145377;
}


.son_nav {
	width: 982px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding-top: 8px;
}


.son_nav > a {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;

	color: #FFFFFF;
}

.son_nav > a:hover {
	color: #66DAFF;
}


/*WRAP2*/



.for_bg2 {
	/*margin-top: 96px;*/
	/*background-color: #F8F8F8;*/
	height: 509px;
}


.wrap2{
	margin: auto;
	width: 1040px;
	padding-top: 39px;
}



.wp2_main_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #4A4A4A;
}


.wp2_under_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 43px;
	margin-top: 15px;
	color: #000000;
}


.programs_block_group {
	display: flex;
	justify-content: space-between;
	margin-top: 19px;
}


.left_block {
	width: 728px;
	height: 347px;
	background: #6DCBFF;
	border-radius: 40px;
	padding-top: 17px;
	padding-left: 39px;

}


.right_block {
	width: 254px;
	height: 347px;
	background: #4E5C64;
	border-radius: 40px;
	padding-top: 36px;
	margin-left: 65px;
}



.left_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 241.4%;
	/* or 43px */
	color: #FFFFFF;
	width: 553px;
}

.left_text > span {
	font-weight: 600;
}






.right_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 149.9%;
	/* or 21px */
	width: 222px;
	text-align: center;
	margin: auto;
	color: #FFFFFF;
}



/*WRAP3*/


.for_bg3 {
	/*margin-top: 96px;*/
	/*background-color: #F8F8F8;*/
	height: 453px;
}


.wrap3{
	margin: auto;
	width: 1040px;
	padding-top: 2px;
}






.wp3_under_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 43px;

	color: #000000;
}


.programs_block_group {
	display: flex;
	justify-content: space-between;
}


.left_block_2 {
	width: 728px;
	height: 347px;
	background: #F3F3F3;
	border-radius: 40px;
	padding-top: 17px;
	padding-left: 39px;
	border: 7px solid #6DCBFF;

}


.right_block {
	width: 254px;
	height: 347px;
	background: #4E5C64;
	border-radius: 40px;
	padding-top: 36px;
}



.left_text_2 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 27px;
	/* or 28px */
	width: 657px;

	color: #1A1A1A;
}

.left_text > span {
	font-weight: 600;
}




.right_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 149.9%;
	/* or 21px */
	width: 222px;
	text-align: center;
	margin: auto;
	color: #FFFFFF;
}




/*WRAP4*/


.for_bg4 {
	/*margin-top: 96px;*/
	/*background-color: #F8F8F8;*/
	height: 535px;
}


.wrap4{
	margin: auto;
	width: 1040px;
	padding-top: 49px;
}


.wp4_blue_block {
	width: 1026px;
	height: 442px;
	background: #6DCBFF;
	border-radius: 41px;
	padding-top: 21px;
}



.wp4_main_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 149.9%;
	/* identical to box height, or 27px */
	text-align: center;
	color: #262626;
}


.wp4_under_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
	/* or 24px */
	width: 807px;
	text-align: center;
	margin: auto;
	color: #232323;
	margin-top: 27px;
}


.white_block {
	width: 579px;
	height: 100px;
	margin: auto;
	background: #FFFFFF;
	border-radius: 28px;
	padding-top: 16px;
	margin-top: 31px;
}


.white_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 170.9%;
	/* or 22px */
	width: 531px;
	text-align: center;
	margin: auto;
	color: #000000;
}




/*LINE*/


.line {
	width: 175px;
	height: 7px;
	background: #93B4E6;
	margin: auto;
}




/*WRAP5*/



.for_bg5 {
	/*margin-top: 96px;*/
	/*background-color: #F8F8F8;*/
	height: 410px;
}


.wrap5{
	margin: auto;
	width: 1040px;
	/*padding-top: 49px;*/
}




.wp5_under_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 43px;
	margin-top: 13px;
	color: #000000;
}


.programs_block_group_5 {
	display: flex;
	justify-content: space-between;
	margin-top: 19px;
}


.left_block_5 {
	width: 728px;
	height: 347px;
	background: #6DCBFF;
	border-radius: 40px;
	padding-top: 17px;
	padding-left: 39px;

}


.right_block_5 {
	width: 254px;
	height: 347px;
	background: #4E5C64;
	border-radius: 40px;
	padding-top: 51px;
}



.left_text_5 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 241.4%;
	/* or 43px */
	color: #FFFFFF;
	width: 553px;
}



.left_text_5 > span {
	font-weight: 600;
}


.right_text_5 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 149.9%;
	/* or 21px */
	width: 222px;
	/*text-align: center;*/
	margin: auto;
	color: #FFFFFF;
	margin-left: 25px;
}



/*WRAP6*/



.for_bg6 {
	/*margin-top: 96px;*/
	/*background-color: #F8F8F8;*/
	height: 535px;
}


.wrap6{
	margin: auto;
	width: 1040px;
	padding-top: 49px;
}


.wp6_blue_block {
	width: 1026px;
	height: 442px;
	background: #6DCBFF;
	border-radius: 41px;
	padding-top: 21px;
}



.wp6_main_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 149.9%;
	/* identical to box height, or 27px */
	text-align: center;
	color: #262626;
}


.wp6_under_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
	/* or 24px */
	width: 807px;
	text-align: center;
	margin: auto;
	color: #232323;
	margin-top: 27px;
}


.white_block_6 {
	width: 579px;
	height: 100px;
	margin: auto;
	background: #FFFFFF;
	border-radius: 28px;
	padding-top: 16px;
	margin-top: 31px;
}


.white_text_6 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 170.9%;
	/* or 22px */
	width: 531px;
	text-align: center;
	margin: auto;
	color: #000000;
}





/*WRAP7*/



.for_bg7 {
	/*margin-top: 96px;*/
	/*background-color: #F8F8F8;*/
	height: 410px;
}


.wrap7{
	margin: auto;
	width: 1040px;
	/*padding-top: 49px;*/
}




.wp7_under_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 43px;
	margin-top: 13px;
	color: #000000;
}


.programs_block_group_7 {
	display: flex;
	justify-content: space-between;
	margin-top: 19px;
}


.left_block_7 {
	width: 728px;
	height: 347px;
	background: #6DCBFF;
	border-radius: 40px;
	padding-top: 17px;
	padding-left: 39px;

}


.right_block_7 {
	width: 254px;
	height: 347px;
	background: #4E5C64;
	border-radius: 40px;
	padding-top: 51px;
}



.left_text_7 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 241.4%;
	/* or 43px */
	color: #FFFFFF;
	width: 553px;
}



.left_text_7 > span {
	font-weight: 600;
}


.right_text_7 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 27px;
	/* or 21px */
	width: 214px;
	/*text-align: center;*/
	margin: auto;
	color: #FFFFFF;
	margin-left: 25px;
}



/*WRAP8*/


.for_bg8 {
	/*margin-top: 96px;*/
	/*background-color: #F8F8F8;*/
	height: 535px;
}


.wrap8{
	margin: auto;
	width: 1040px;
	padding-top: 49px;
}


.wp8_blue_block {
	width: 1026px;
	height: 442px;
	background: #6DCBFF;
	border-radius: 41px;
	padding-top: 21px;
}



.wp8_main_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 149.9%;
	/* identical to box height, or 27px */
	text-align: center;
	color: #262626;
}


.wp8_under_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
	/* or 24px */
	width: 807px;
	text-align: center;
	margin: auto;
	color: #232323;
	margin-top: 27px;
}


.white_block_8 {
	width: 579px;
	height: 100px;
	margin: auto;
	background: #FFFFFF;
	border-radius: 28px;
	padding-top: 16px;
	margin-top: 31px;
}


.white_text_8 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 170.9%;
	/* or 22px */
	width: 531px;
	text-align: center;
	margin: auto;
	color: #000000;
}




/*WRAP9*/


.for_bg9 {
	height: 227px;
}


.wrap9 {
	margin: auto;
	width: 990px;
	display: flex;
	justify-content: space-between;
	padding-top: 50px;

}


.footer_address_icon {
	background-image: url(images/mapicon.svg);
	height: 29px;
	width: 29px;
}

.footer_text_address {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 15px;
	color: #000000;
	width: 210px;
}

.footer_address_text {
	display: flex;
	justify-content: space-between;
	width: 249px;
}




.footer_number_icon {
	background-image: url(images/calliconfooter.svg);
	height: 29px;
	width: 29px;
}

.footer_number {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 12px;
	color: #000000;
	margin: auto;
}

.footer_number_text {
	display: flex;
	justify-content: space-between;
	width: 140px;
}






.footer_email_icon {
	background-image: url(images/emailiconfooter.svg);
	height: 29px;
	width: 29px;
}

.footer_email {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 12px;
	color: #000000;
	margin: auto;
}

.footer_email_text {
	display: flex;
	justify-content: space-between;
	width: 175px;
}



.footer_number_text, .footer_email_text {
	margin-top: 15px;
}



.domrf_footer {
	background-image: url(images/domrf.svg);
    height: 54px;
    width: 130px;
    background-size: 100% 100%;
    margin: auto;
    margin-top: 13px;
}

.greenhome_footer {
	background-image: url(images/greenhomefooter.svg);
    height: 85px;
    width: 165px;
}

.footer_domrf_greenhome {
	display: flex;
	justify-content: space-between;
	width: 270px;
	margin: auto;
}



.ourhome_footer {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 12px;
	color: #000000;
	width: 270px;
	margin-left: 100px;
}





.right_text_f {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: #262626;
	margin-left: 23px;

}



.left_footer_block {
	border: solid #B5B5B5 1px;
	width: 309px;
	border-top: none;
	border-left: none;
	border-bottom: none;
}

.middle_footer_block {
	border: solid #B5B5B5 1px;
	width: 400px;
	border-top: none;
	border-left: none;
	border-bottom: none;
	padding-top: 5px;
}


.right_footer_block {
	border: solid #B5B5B5 1px;
	width: 290px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
